[submodule "fast_align"]
	path = 3rd_party/fast_align
	url = https://github.com/clab/fast_align
[submodule "extract-lex"]
	path = 3rd_party/extract-lex
	url = https://github.com/marian-nmt/extract-lex
[submodule "3rd_party/kenlm"]
	path = 3rd_party/kenlm
	url = https://github.com/kpu/kenlm
[submodule "3rd_party/marian-dev"]
	path = 3rd_party/marian-dev
	url = https://github.com/marian-nmt/marian-dev
[submodule "3rd_party/preprocess"]
	path = 3rd_party/preprocess
	url = https://github.com/kpu/preprocess.git
[submodule "inference/3rd_party/ssplit-cpp"]
	path = inference/3rd_party/ssplit-cpp
	url = https://github.com/browsermt/ssplit-cpp
[submodule "inference/3rd_party/emsdk"]
	path = inference/3rd_party/emsdk
	url = https://github.com/emscripten-core/emsdk.git

# inference/marian submodules
[submodule "inference/marian/src/3rd_party/sentencepiece"]
	path = inference/marian-fork/src/3rd_party/sentencepiece
	url = https://github.com/browsermt/sentencepiece
[submodule "inference/marian/src/3rd_party/nccl"]
	path = inference/marian-fork/src/3rd_party/nccl
	url = https://github.com/marian-nmt/nccl
[submodule "inference/marian/src/3rd_party/fbgemm"]
	path = inference/marian-fork/src/3rd_party/fbgemm
	url = https://github.com/marian-nmt/FBGEMM
[submodule "inference/marian/src/3rd_party/intgemm"]
	path = inference/marian-fork/src/3rd_party/intgemm
	url = https://github.com/kpu/intgemm
[submodule "inference/marian/src/3rd_party/simple-websocket-server"]
	path = inference/marian-fork/src/3rd_party/simple-websocket-server
	url = https://github.com/marian-nmt/Simple-WebSocket-Server
[submodule "inference/marian/src/3rd_party/onnxjs"]
	path = inference/marian-fork/src/3rd_party/onnxjs
	url = https://github.com/browsermt/onnxjs
[submodule "inference/marian/src/3rd_party/ruy"]
	path = inference/marian-fork/src/3rd_party/ruy
	url = https://github.com/google/ruy
[submodule "inference/marian/src/3rd_party/simd_utils"]
	path = inference/marian-fork/src/3rd_party/simd_utils
	url = https://github.com/browsermt/simd_utils.git
