.settings {
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
}

.attachments {
  display: none;
  position: absolute;
  background: #fff;
  padding: 10px;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 2px 2px 10px #adadad;
  margin-top: 6px;

  & a {
    display: block;
    margin: 6px 0;
  }
}

#error {
  display: none;
}

#counts {
  margin: 10px 0 30px;
}

.models {
  margin: 1rem;

  td {
    white-space: nowrap;
  }

  /* Language Name */
  & :is(th, td):nth-child(1) {
    font-weight: bold;
    padding-right: 0;
  }

  /* Version Name */
  & :is(th, td):nth-child(2) {
    border-right: 2px solid #aaa;
    text-align: right;
    padding-left: 0;
  }

  & :is(th, td):nth-child(7) {
    border-left: 2px solid #aaa;
  }

  /* models */
  & td:is(:nth-child(3), :nth-child(7)) {
    background-color: #0001;
    font-family: monospace;
  }

  /* Size */
  & :is(td):is(:nth-child(4), :nth-child(8)) {
    text-align: right;
  }

  /* Scores */
  & td:is(:nth-child(6), :nth-child(11)) {
    font-family: monospace;
    text-align: right;
  }
}

.noodles {
  position: relative;

  img {
    position: absolute;
    z-index: -1;
    width: 293px;
    top: -94px;
    left: -80px;

    @media (max-width: 991.98px) {
      & {
        display: none;
      }
    }
  }
}
